<a href="https://colab.research.google.com/github/PavanJalkote/Pavan-Assignment-1/blob/main/Assignment_001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2. Take input A and B and print their sum, mul, div, square of the nos.

In [ ]:
A = 11

In [ ]:
B = 11

In [ ]:
print(A+B)

22

In [ ]:
print(A-B)

0

In [ ]:
print(A*B)

121

In [ ]:
print(A/B)

1.0

In [ ]:
print(A**2)

121

# 3. How many reserve keywords are there in python and why we should not use them as a variable name.
Ans: Python 3 has 33 reserve keywords. Since all these keywords are already predefined in python and hence they carry a special meaning that is why we can't use them as a variable in python.

# 4. Create email ids with the user inputs. in the following format - lastname.firstname@gmail.com

In [ ]:
lastname = input("Enter your last name: ")
firstname = input("Enter your first name: ")

print(f"Your email ID is: {lastname}.{firstname}@gmail.com")

Enter your last name: Jalkote
Enter your first name: Pavan
Your email ID is: Jalkote.Pavan@gmail.com

# 5. Try to print the following lines -
  # Hi I'm Sunny
  # My address is 22\3
  # I earn 20$ daily.

In [ ]:
print("""Hi I'm Sunny
My address is 22/
I earn 20$ daily""")

Hi I'm Sunny
My address is 22/
I earn 20$ daily

# 6. Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs.

In [ ]:
lastname = input("Your last name: ")
firstname = input("Your first name: ")
address = input("Address: ")
date_of_birth = input("your date of birth: ")


print(f"""Your name: {firstname},
Your Address: {address},
Your date of birth: {date_of_birth}
Your email ID will be: {lastname}.{firstname}@gmail.com""")

Your last name: Jalkote
Your first name: Pavan
Address: Latur
your date of birth: 1998
Your name: Pavan,
Your Address: Latur,
Your date of birth: 1998
Your email ID will be: Jalkote.Pavan@gmail.com

# 7. Convert the following -
## "22.4" into integer
## "22" into complex no

In [ ]:
A = 22.4 
print(f"Value of A: {A}")
A = int(A)
print(f"Value of A: {A}")

Value of A: 22.4
Value of A: 22

In [ ]:
A = 22
print(f"Value of A: {A}")
A = complex(A)
print(f"Value of A: {A}")

Value of A: 22
Value of A: (22+0j)